body {
    font-family: 'Martel', serif;
    font-weight: 400;
    text-align: center;
    background-image: url('assets/background-city.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

button {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.input{
   width: 30%;

    padding: 15px;
}
.list{
    width: 70%;
    padding: 15px;
    
}

.list-inside{
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.flex-container {
    display: flex;
  }

ul{
    list-style-type: none;
}


*{
    box-sizing: border-box;
}